{% extends "seclab/page.html" %}

{% block page_content %}
<div class="table-responsive">
	<table class="table table-hover">
		<tbody>
			{% for item in activity %}
				<tr>
					<td></td>
					<td>
						<span class="glyphicon glyphicon-link"></span>
						&nbsp;&nbsp;
						<a href='/article/{{ item.pk }}'>{{ item.title }} </a></td>
					<td>
						<span class="glyphicon glyphicon-time pull-right">
							&nbsp;&nbsp;{{ item.pub_date }}
						</span>					
					</td>
					<td></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	
{% endblock page_content %}
