{% extends "seclab/page.html" %}

{% block page_content %}
<div class="panel-group" id="direct-accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="my-panel-header">
				<a href="#direct-accordion-1" data-toggle="collapse">专业方向1: 信息安全</a>
			</div>
		</div>
		<div id="direct-accordion-1" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-8">
						<div class="my-panel-content">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							重点开展的研究方向为：病毒的感染机理与相关技术，木马植入机制与自我保护，无线自组织网络的QoS及安全机制，防火墙新技术，先进数据加解密技术的应用，数字签名算法与身份认证机制，信息战中的攻防策略与方法，计算机安全防护技术等。<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							通过跟踪研究有关方向的新趋势和新技术，研究和开发新策略和新方法，实现软件系统的安全保障、恶意代码检测与防范、新形态网络安全威胁监控（如P2P网络中的安全威胁、僵尸网络监控、网页挂马检测等）、可信计算等内容，为国家的信息安全服务，并拓展应用领域，使我们的研究成果能够在更为广泛的领域发挥作用。
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<img class="img-responsive" src="/static/img/direction1.jpg">
					</div>
				</div>				
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="my-panel-header">
				<a href="#direct-accordion-2" data-toggle="collapse">专业方向2：电子系统设计与测控</a>
			</div>			
		</div>
		<div id="direct-accordion-2" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-8">
						<div class="my-panel-content">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							重点开展的研究方向为：复杂电子系统、复杂测控系统的设计及软硬件开发，包括实时模拟系统以及数字系统设计，涵盖FPGA，DSP，嵌入式CPU，Labview图形化编程工具，VC++，VS.NET，JSP/ASP，Python等软件系统的应用。
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<img class="img-responsive" src="/static/img/direction2.jpg">
					</div>
				</div>				
			</div>
		</div>
	</div>

</div>
{% endblock page_content %}<div class="panel-body">