{% extends "seclab/page.html" %}

{% block page_content %}

<div class="panel-group" id="intro-accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="my-panel-header">
				<a href="#intro-accordion-1" data-toggle="collapse">团队定位</a>
			</div>
		</div>
		<div id="intro-accordion-1" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="my-panel-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					在信息安全理论基础与技术上，研究先进的安全加密算法、计算机安全、网络信息安全、信息对抗技术、安全移动存储等，建立网络信息安全平台，同时推广到各类实际应用系统，建立移动存储安全管理控制系统。研究无线自组织网络系统的安全体系及算法、生存性算法等理论技术。
				</div>				
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="my-panel-header">
				<a href="#intro-accordion-2" data-toggle="collapse">团队的主要研究方向</a>
			</div>			
		</div>
		<div id="intro-accordion-2" class="panel-collapse collapse in">
			<div class="panel-body">				
				<div class="my-panel-content">
					<ul class="home-intro-list">
						<li><span class="glyphicon glyphicon-arrow-right "><span>&nbsp;信息安全</li>
						<li><span class="glyphicon glyphicon-arrow-right "><span>&nbsp;电子系统设计与测控</li>
						<li><span class="glyphicon glyphicon-arrow-right "><span>&nbsp;<a href="/direction/">详细信息</a></li>
					</ul>
				</div>			
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="my-panel-header">
				<a href="#intro-accordion-3" data-toggle="collapse">团队研究目标</a>
			</div>			
		</div>
		<div id="intro-accordion-3" class="panel-collapse collapse in">
			<div class="panel-body">				
				<div class="my-panel-content">
					<ul class="home-intro-list">
						<li><span class="glyphicon glyphicon-arrow-right "><span>&nbsp;建立网络信息安全平台，并完成若干关键技术的验证。</li>
						<li><span class="glyphicon glyphicon-arrow-right "><span>&nbsp;将先进的信息加解密算法在平台上实现，并在局域网环境下，进行信息对抗、黑客与反黑客技术等网络安全策略的演示。</li>
						<li><span class="glyphicon glyphicon-arrow-right "><span>&nbsp;建立复杂自组织网络系统的仿真环境，提出增强复杂分布式系统仿真的并行处理效率的有效方法，并对典型安全策略和算法进行仿真验证。</li>
						<li><span class="glyphicon glyphicon-arrow-right "><span>&nbsp;建立复杂建立多传感器信息融合处理环境，将高分辨成像及信息传输问题合理科学地纳入所建立的仿真环境。</li>
					</ul>					
				</div>			
			</div>
		</div>
	</div>

</div>
{% endblock page_content %}
