{% extends "seclab/page.html" %}

{% block page_content %}
<div class="panel-group" id="paper-accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="my-panel-header">
				<a href="#paper-accordion-1" data-toggle="collapse">期刊论文</a>
			</div>
		</div>
		<div id="paper-accordion-1" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="my-panel-content">
					<ol>
						<li>Yi Luo, Zhiwen Zhao, Zhangji Zhao, Haiming Long, Wen Su, Yixian Yang, “The loophole of the improved secure quantum sealed-bid auction with post-confirmation and solution,” Quantum Information Process, DOI 10.1007/s11128-012-0372-0 (2012) (SCI)</li>
						<li>Sheng Mou, Zhiwen Zhao, Sisi Jiang, Zushun Wu, Jiaojiao Zhu, “Feature extraction and classification algorithm for detecting complex covert timing channel,” computers & security 31(2012 ) 70e82 (SCI)</li>
						<li>Sisi Jiang, Zhiwen Zhao, ShengMou, ZushunWu, and Yi Luo,  “Linear Decision Fusion under the Control of Constrained PSO forWSNs,” International Journal of Distributed Sensor Networks, doi:10.1155/2012/871596,Volume 2012 (SCI)</li>
						<li>GUO-AI XU, ZHI-WEN ZHAO, XIU-BO CHEN, and YI-XIAN YANG，“CRYPTANALYSIS AND IMPROVEMENT OF THE SECURE QUANTUM SEALED-BID AUCTION WITH POSTCONFIRMATION,” International Journal of Quantum Information, Vol. 9, No. 6 (2011) 1383_1392. (SCI)</li>
						<li>Zhang Xiaomei, Chen Weihai, Liu Jingmeng, Zhao Zhiwen, “Vehicle following algorithm realization based on flexible curved bar,” JOURNAL OF BEIJING UNIVERSITY OF AERONAUTICS AND A, 2011,V37(7): 789-794. (EI)</li>
						<li>王锋，赵志文，牟盛，“整数提升小波多相矩阵分解系数的快速提取算法，” 中国图象图形学报，2011年第7期。</li>
						<li>徐崇斌，赵志文，郑慧芳，“ELVQ算法实现宽参数偏移的多故障电路诊断，”电子与信息学报，2011年第6期。(EI)</li>
						<li>张可可，赵志文，徐崇斌，牟盛，姜思思，“基于方差分类初始化码书的三维邻域SOM算法，” 北京师范大学学报（自然科学版），2011年第5期。</li>
						<li>Yi Luo, Zhiwen Zhao, Zhangji Zhao, Haiming Long, “A secure quantum key distribution scheme based on variable quantum encoding algorithms,” Chinese Optics Letters, March 10,2011, V.9, No.3. (SCI)</li>
						<li>朱姣姣，赵志文，张可可，牟盛，“隐蔽通道中信息可靠传输的策略研究与实现，”计算机工程，2010年第12期。</li>
						<li>Zhiwen Zhao, Mosayeb Naseri, Yuanqing  Zheng, ”Secure Quantum Sealed-Bid Auction with Post-Confirmation,” Optics Communications, 283 (2010). (SCI)</li>
						<li>陈伟海、高铭辰、王建华、赵志文，“基于激光测距的三维图像重构与辨识技术研究”，机器人，2010 年第6 期。(EI)</li>
						<li>Yuanqing Zheng, Zhiwen Zhao, “Comment on: ‘Secure quantum sealed-bid auction’ ” ，Optics Communications，Volume 282, Issue 20, Oct. 2009. (SCI)</li>
						<li>周文婷、赵志文、王朋，“自适应人工免疫网络K-Means聚类算法研究”，数据分析，2009年第四卷第四期。</li>
						<li>郑元庆、赵志文、刘常，“基于IFS的文件访问控制技术研究与应用”，《信息安全与通信保密》，2009 年第1 期。</li>
						<li>赵志文、陈兴，Lam Y.C., “被分析物在微流体器件中的分散特性”，中国机械工程学报, 2006 年第42 卷第3 期. (EI)</li>
						<li>Hu Yida, Zhao Zhiwen, “Synthesis of Robotic Mechanism for Microsurgical Corneal Grafting”, Chinese Journal of Mechanical Engineering. Sept. 2005, v18, n3.</li>
						<li>赵志文、陈山枝、张启先，“带宽资源自适应节点级流量控制策略研究”，《高技术通讯》，第12卷，2002 年第6 期. (EI)</li>
						<li>赵志文、朱敏，“自容式海流剖面测量系统的研制”，《测控技术》，2001 20 (9)。</li>
						<li>赵志文，战强，“移动多机器人通信及控制子系统的设计与实现”，《微计算机应用》，2001年第4期。</li>
					</ol>
				</div>				
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="my-panel-header">
				<a href="#paper-accordion-2" data-toggle="collapse">会议论文</a>
			</div>			
		</div>
		<div id="paper-accordion-2" class="panel-collapse collapse">
			<div class="panel-body">				
				<div class="my-panel-content">					
					<ol>
						<li>Peng Wang, Zhiwen Zhao, Feng Wang, Zushun Wu, "Design and Implementation of the Low-power Tracking System based on GPS-GPRS Module", Proceedings of the 5rd IEEE Conference on Industrial Electronics and Applications (ICIEA 2010), Taichung, Taiwan, China, June 2010.</li>
						<li>Ke Xu, Zhiwen Zhao, Sisi Jiang, Sheng Mou, "Multi-Module Synchronic Data Acquisition Based on T-CLK", Proceedings of the 5rd IEEE Conference on Industrial Electronics and Applications (ICIEA2010), Taichung, Taiwan, China, June 2010.</li>
						<li>Yuanqing Zheng, Zhiwen Zhao, Jiaojiao Zhu，“Improved AOMDV with Precaution Algorithm in Wireless Ad Hoc Networking”，The Seventh IEEE International Conference on Control & Autoation, Christchurch, New Zealand, December 9–11, 2009, pp.175-179.</li>
						<li>Chongbin Xu, Zhiwen Zhao, Feng Wang, and Ke Xu，“General Automation Test System Based on the Cooperation of Software and Hardware”，The Seventh IEEE International Conference on Control & Autoation, Christchurch, New Zealand, December 9–11, 2009, pp.797-800.</li>
						<li>Fang Liu, Zhiwen Zhao and Chang Liu，“A FLEXIBLE GRID COMPUTATION PLATFORM BASED ON WSRF.NET AND CONDOR”，International Symposium on Computer Network and Multimedia Technology (CNMT 2009)，Wuhan, China, December 18–20, pp.422-425.</li>
						<li>Chang Liu, Zhiwen Zhao and Fang Liu，“AN INSIGHT INTO THE ARCHITECTURE OF CONDOR-A DISTRIBUTED SCHEDULER”，International Symposium on Computer Network and Multimedia Technology (CNMT 2009),Wuhan, China, December 18–20, pp.1166-1169.</li>
						<li>Yuliang Zhang, Zhiwen Zhao, Dahe Liu, “Study on photonic crystal filter for detecting the stimulated scattering spectrums in atmosphere”, Proceedings of 6th IEEE International Conference on Industrial Informatics (INDIN2008)，Daejeon, Korea, July 2008, pp 30-34.</li>
						<li>Lelin Zou, Zhiwen Zhao, Yuanqing Zheng, “A hierarchical and partial-distributed localization algorithm for ad-hoc wireless sensor networks”, Proceedings of 6th IEEE International Conference on Industrial Informatics (INDIN2008)，Daejeon, Korea, July 2008, pp.25-29.</li>
						<li>王颖，赵志文, “高效容错二维图像加解密算法”, 图形图像会议文集，2008年5月, 北京，pp.287-293。</li>
						<li>金宋友，赵志文, “一种基于奇异值分解的盲水印算法研究”，图形图像会议文集，2008年5月, 北京, pp.228-233。</li>
						<li>Wang Ying., Zhao Z.W., and Zou Lelin，“A Fault-tolerable Encryption Algorithm for Two-dimensional Digital Image”, Proceedings of Second IEE Conference on Industrial Electronics and Applications（ICIEA07）, Harbin, China, Sep. 2007, pp.2737-2741.</li>
						<li>Wang K., Zhao Z.W., and Yao L.，“An Agile Reconfigurable Key Distribution Scheme in Space Information Network”, Proceedings of Second IEEE Conference on Industrial Electronics and Applications（ICIEA07）, Harbin, China, Sep. 2007, pp.2742-2747.</li>
						<li>朴哲国，赵志文，邹乐麟，王恺，“基于kerberos的局域网指纹认证系统的研究”，第16届全国信息保密学术会议论文集，湖北襄樊，2007年九月，pp.171-176。</li>
						<li>邹乐麟，赵志文，朴哲国，王恺，“涉密电子文件审批系统”，第16届全国信息保密学术会议论文集，湖北襄樊，2007年九月，pp.79-84。</li>
						<li>金宋友，赵志文，孙德刚，“WDM过滤驱动在串口访问控制中的应用”，中国计算机学会信息保密专业委员会学术年会，沈阳，2006年九月，pp.293-298。</li>
						<li>Y.D. Hu, Z.W. Zhao, D.Z. Li, “Integration of Microsensors on End-effector for Robotic Microsurgical Keratoplasty ”, IEEE Conference on Robotics, Automation and Mechatronics, Bangkok, Thailand, June 2006, pp. 447-452.</li>
						<li>D.G. Sun, W.Q. Huang, Z.W. Zhao, “Modeling the Radiated Compromising Emanations”, IEEE Conference on Robotics, Automation and Mechatronics, Bangkok,Thailand, June 2006, pp. 453-457.</li>
						<li>Z.W. Zhao, D.G. Sun, “Behavior-driven Based Improving the Performance of Self-organized Ad Hoc Networks,” 2006 IEEE Conference on Robotics, Automation and Mechatronics, Bangkok, Thailand, June 2006, pp. 458-463.</li>
						<li>Zhao ZW, Chen IM, “Optimizing the Dynamic Distribution of Data-stream for High Speed Communications”, Singapore-MIT Alliance Symposium 2005, Singapore, 19-20 Jan. 2005.</li>
						<li>ZW. Zhao, I-Ming Chen, “Moving HomePlug to Industrial Applications with Power-Line Communication Network”, Singapore-MIT Alliance Symposium 2004, Singapore，19-20 Jan. 2004.</li>
						<li>ZW. Zhao, Jun Zhang, Fuchun Sun, Lei Li, I-Ming Chen, “Routing Strategy for Satellite-Based Networks with a Hierarchical Space Grid Architecture”, 2003 Joint Conference of the Fourth International Conference on Information,Communications and Signal Processing and Fourth Pacific-Rim Conference on Multimedia (ICICS-PCM2003), 15-18 Dec. 2003, Singapore.</li>
						<li>ZW. Zhao, I-Ming Chen, Jun Zhang, “Robust Collaboration and Interaction in a Multi-agent System Basing on Hierarchical Networks”，ACM/Cyberworld2003, 02-05 Dec. 2003, Singapore, pp.62-68.</li>
						<li>Q.X. Zhang, Z.G. Ren, Z.W. Zhao, “Development of a 3W window-cleaning robot for high-rise buildings”, Proceedings of the 8th IEEE Conference on Mechatrinics and Machine Vision in Practice, 27-29 August 2002, Hong Kong, pp.257-260.</li>
					</ol>				
				</div>			
			</div>
		</div>
	</div>

</div>
{% endblock page_content %}