<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="信息安全实验室"></meter>
	<meta name="keywords" content="北京师范大学,信息科学与技术学院,信息安全实验室">
	<meta name="author" content="电子楼402·高岩">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/customer.css">
    <script src="/static/js/customer.js"></script>
	<title> 信息科学与技术学院 | 信息安全实验室 </title>
</head>
<body>
<div class="container">
	{% include 'seclab/nav.html' %}
	{% block content %} 默认内容 {% endblock %}
	{% include 'seclab/foot.html' %}
</div>
</body>
</html>